name: Power Tune Lambda

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch: {}

permissions:
  id-token: write
  contents: write

env:
  AWS_REGION: eu-west-2
  PROJECT: serverless-power-tuning
  TABLE_NAME: LambdaPowerTuningTable
  DEPLOY_APPROVER: "mdevendr"

jobs:
  pr-checks:
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with: { python-version: "3.11" }
      - name: Package Lambda
        working-directory: lambda
        run: |
          chmod +x package.sh
          ./package.sh
      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6
      - name: Terraform init & validate
        working-directory: infra/terraform
        run: |
          terraform init -input=false
          terraform validate
          terraform fmt -check
      - name: Terraform plan (no apply)
        working-directory: infra/terraform
        run: terraform plan -no-color -input=false

  deploy-and-tune:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    environment:
      name: production
    steps:
      - name: Ensure only Mahesh can deploy
        if: ${{ github.actor != env.DEPLOY_APPROVER }}
        run: |
          echo "❌ Deployment blocked: only $DEPLOY_APPROVER can deploy to main."
          exit 1

      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with: { python-version: "3.11" }
      - name: Request OIDC Token
        id: oidc
        run: |
          echo "Requesting token..."

        # This actually retrieves the token
      - uses: actions/github-script@v7
        id: show-token
        with:
          script: |
            const jwt = await core.getIDToken();
            console.log(jwt);

      - name: Package Lambda
        working-directory: lambda
        run: |
          chmod +x package.sh
          ./package.sh
      - name: Configure AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init/Apply
        working-directory: infra/terraform
        run: |
          terraform init -input=false -upgrade
          terraform apply -auto-approve -input=false
          echo "invoke_url=$(terraform output -raw invoke_url)" >> $GITHUB_ENV
          echo "power_tuner_arn=$(terraform output -raw power_tuner_arn)" >> $GITHUB_ENV

      - name: Discover Lambda ARN
        id: lambda
        run: |
          ARN=$(aws lambda get-function --function-name "${{ env.PROJECT }}-function" --query 'Configuration.FunctionArn' --output text)
          echo "arn=$ARN" >> $GITHUB_OUTPUT

      - name: Run AWS Lambda Power Tuner
        env:
          AWS_REGION: us-west-2 # State Machine region
          POWER_TUNER_ARN: "arn:aws:states:us-west-2:211125489043:stateMachine:powerTuningStateMachine-8d6ae210-bb08-11f0-98f3-0656addddf6b"
          LAMBDA_ARN: "arn:aws:lambda:eu-west-2:211125489043:function:serverless-power-tuning-function"
        run: |
          set -e
          if [ -z "$POWER_TUNER_ARN" ]; then echo "❌ missing power_tuner_arn"; exit 1; fi

          STRATEGY="balanced"

          INPUT=$(jq -n \
            --arg lambda "$LAMBDA_ARN" \
            --arg strat "$STRATEGY" \
            '{
              lambdaARN:$lambda,
              powerValues:[128,256,512,1024],
              num:20,
              payload:{},
              parallelInvocation:true,
              strategy:$strat
            }')

          EXE=$(aws stepfunctions start-execution \
            --region "$AWS_REGION" \
            --state-machine-arn "$POWER_TUNER_ARN" \
            --input "$INPUT" \
            --query executionArn \
            --output text)

          echo "Started: $EXE"

          # Poll until finish
          while true; do
            STATUS=$(aws stepfunctions describe-execution \
              --region "$AWS_REGION" \
              --execution-arn "$EXE" \
              --query status \
              --output text)

            echo "Status: $STATUS"

            if [ "$STATUS" = "SUCCEEDED" ]; then break; fi
            if [[ "$STATUS" == "FAILED" || "$STATUS" == "TIMED_OUT" || "$STATUS" == "ABORTED" ]]; then
              echo "❌ Execution $STATUS"; exit 1;
            fi
            sleep 8
          done

          OUT=$(aws stepfunctions describe-execution \
            --region "$AWS_REGION" \
            --execution-arn "$EXE" \
            --query output \
            --output text)

          echo "$OUT" > tuning-output.json

          BEST=$(jq -r '.power' tuning-output.json)
          echo "best=$BEST" >> $GITHUB_OUTPUT
          echo "✅ Recommended memory: ${BEST} MB"

      - name: Update Lambda memory
        run: |
          aws lambda update-function-configuration --function-name "${{ env.PROJECT }}-function" --memory-size "${{ steps.tune.outputs.best }}"

      - name: Run Newman smoke tests
        run: |
          npm i -g newman newman-reporter-html
          mkdir -p reports
          newman run postman/collection.json -e postman/env.json             --env-var apiBase="${{ env.invoke_url }}"             --reporters cli,html --reporter-html-export reports/newman.html

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tuning-and-tests
          path: |
            tuning-output.json
            reports/newman.html
